*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.slider-container{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.left-slide{
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
}

.left-slide div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(7, 7, 7);

}

.left-slide h1{
    margin-bottom: 30px;
    font-size: 30px;
    margin-top: -30px;
}

.right-slide{
    height: 100%;
    width: 70%;
    top: 0;
    left: 30%;
    position: absolute;
    transition: transform 0.5s ease-in-out;

}

.right-slide div{
    background-repeat: no-repeat;
    background-position: center center/cover;
    background-size: cover;
    height: 100%;
    width: 100%;
}

button{
    background-color: #ffff;
    border: none;
    color: #aaaa;
    cursor: pointer;
    font-size: 15px;
    padding: 14px;
}
 button :hover{
    color: #2222;
 }

 button :focus{
    outline: none;
 }
 
.slider-container .action-buttons button {
    position: absolute;
    left: 30%;
    top: 50%;
    z-index: 100%;

}

.slider-container .action-buttons .down-button {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.slider-container .action-buttons .up-button {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}